# Java related
target/**
*.jar
*.war
*.ear
*.class

# eclipse specific
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# intellij specific
*.iml

# Ignore Logs
logs
*.log

# Ignore IDE specific files
.idea/
.vscode/
*.sw*

